<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave One Out</title>
</head>
<body>
<P>Leave One Out Encoder Function Parameters</P>
<form method="post">
{% csrf_token %}
<div class="form-group">
    {% for field in leave_one_out %}
        <div>
        <label>{{ field.label_tag }}</label>
        {% render_field field class="form-group" %}
        </div>
    {% endfor %}
    <button class="btn btn-primary" name="leave_one_out_btn">Encode</button>
</div>
</form>
</body>
</html>